node_modules
.expo
dist
web-build
npm-debug.log
yarn-error.log

android
android/**
android_backup
android_backup/**
android/.gradle
android/build
android/app/build

ios
ios/**
ios/Pods
ios/build

*.keystore
*.jks
.env